<a href="https://colab.research.google.com/github/Hritiklondhe/star_pattern/blob/main/pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
next1 =int(input("Enter the number of rows ")); 
for i in range(0,next1):
  for j in range(0,next1-i-1):
    print(end = ' ')
  for j in range(0, i+1):
    print('*',end = ' ')
  print()

Enter the number of rows 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [ ]:
next2 =int(input("Enter the number of rows ")); 
for i in range(next2,0,-1):
  for j in range(0, next2-i):
    print(end=" ")
  for j in range(0,i):
    print("*", end=" ")
  print()

Enter the number of rows 10
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
next =int(input("Enter the number of rows ")); 
for i in range(0,next):
  for j in range(0,next-i-1):
    print(end = ' ')
  for j in range(0, i+1):
    print('*',end = ' ')
  print()
for i in range(next-1,0,-1):
  for j in range(0, next-i):
    print(end=" ")
  for j in range(0,i):
    print("*", end=" ")
  print()

Enter the number of rows 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
next =int(input("Enter the number of rows "));
for i in range(next,0,-1):
  for j in range(0, next-i):
    print(end=" ")
  for j in range(0,i):
    print("*", end=" ")
  print()
for i in range(0,next):
  for j in range(0,next-i-1):
    print(end = ' ')
  for j in range(0, i+1):
    print('*',end = ' ')
  print()

Enter the number of rows 10
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [ ]:
row1 = int(input("Enter the number of rows "));
for i in range(1,row1):
  for j in range(i):
    print('*',end =' ')
  print('')

Enter the number of rows 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
row2 = int(input("Enter the number of rows "));
for i in range(row2):
  for j in range(row2-i):
    print('*',end = ' ')
  print('')

Enter the number of rows 10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
row = int(input("Enter the number of rows "));
for i in range(1,row):
  for j in range(i):
    print('*',end =' ')
  print('')
for i in range(row):
  for j in range(row-i):
    print('*',end = ' ')
  print('')

Enter the number of rows 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
row = int(input("Enter the number of rows "));
for i in range(row):
  for j in range(row-i):
    print('*',end = ' ')
  print('')
for i in range(1,row+1):
  for j in range(i):
    print('*',end =' ')
  print('')

Enter the number of rows 10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n = int(input("Enter the number "));
k = 2*n - 2
for i in range(0, n):
	for j in range(0, k):
		print(end=" ")
	k = k - 2
	for j in range(0, i+1):
		print("* ", end="")
	print("\r")

Enter the number 10
                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [ ]:
rows = 10
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
rows = 10
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print(" " * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *